
aj-style = "fresh"
aj-root-font-family = "Helvetica Neue",Helvetica,Arial,sans-serif
aj-root-font-size = 14px

aj-scrollbar-background = unset
aj-scrollbar-thumb = unset

aj-border-1 = 1px solid grey

aj-border-color-1 = #000
aj-border-color-2 = #808080

aj-background-1 = #f6f6f6

aj-foreground-1 = #222

aj-header-foreground-1 = #000

aj-separator-color = #d3d3d3

aj-cell-focused-border = 1px solid darkgrey
aj-cell-no-focus-border-top = 1px solid transparent
aj-cell-no-focus-border-bottom = 1px solid transparent
aj-cell-ltr-no-focus-border-right = 1px dotted grey
aj-cell-ltr-no-focus-border-left = 1px solid transparent
aj-cell-rtl-no-focus-border-right = 1px solid transparent
aj-cell-rtl-no-focus-border-left = 1px dotted grey

aj-cell-highlight-border = 1px solid darkgreen

aj-cell-padding = 2px

aj-row-selected-background-color = powderblue
aj-row-odd-background-color = #f6f6f6
aj-row-even-background-color = white
aj-row-floating-background-color = #f0f0f0
aj-row-stub-background-color = #f0f0f0

aj-value-change-delta-up-color = darkgreen
aj-value-change-delta-down-color = darkred
aj-value-change-value-highlight-background-color = #cec

aj-range-selected-color-1 = rgba(120,120,120,0.4)
aj-range-selected-color-2 = rgba(80,80,80,0.4)
aj-range-selected-color-3 = rgba(40,40,40,0.4)
aj-range-selected-color-4 = rgba(0,0,0,0.4)

aj-header-background-1 = linear-gradient(white, lightgrey)
aj-header-select-padding = 5px 0px 0px 3px

aj-button-background-1 = linear-gradient(white, lightgrey)
aj-button-foreground-1 = #000
aj-button-border-1 = #808080

aj-header-font-weight = normal

aj-tab-border = 1px solid #d3d3d3
aj-tab-background = #e6e6e6
aj-tab-selected-background = #f6f6f6
aj-tab-padding = 6px 8px 6px 8px

aj-menu-option-active-color = #BDE2E5

aj-select-background = white
aj-select-foreground = #222

aj-menu-option-padding = 2px 4px 2px 4px
aj-menu-option-shortcut-padding = 2px 2px 2px 2px

@import "theme-common"



//stick in an override
//.aj-common
